<h1>メッセージ一覧</h1>
<hr>
<%= link_to "新規投稿画面へ", new_message_path %>
<hr>
<table>
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">タイトル</th>
      <th scope="col"></th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each.with_index(1) do |message,i| %>
      <tr>
        <th scope="row"><%= i %></th>
        <td style="text-align:center;"><%= message.title %></td>
        <td>
          <%= link_to "詳細", message %>
          <%= link_to "編集", edit_message_path(message) %>
          <%= link_to "削除", message, method: :delete, data: {confirm: "削除しますか？"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>